@page
@model IndexModel
@{
    ViewData["Title"] = "Hip or Skip - Let's play";
}

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row" style="margin-bottom:30px;">
        <div class="col-10 offset-1 text-md-center">
            <h1><span id="question">Are you ready to decide if it's Hip or Skip?</span></h1>
        </div>
    </div>
    <div class="row" style="margin-bottom:30px;">
        <div class="col-3 text-center">
            <input type="button" class="btn btn-primary" id="hipVoteBtn" value="Hip" />
        </div>
        <div class="col-7 text-center">
            <span id="results"></span> 
        </div>
        <div class="col-2">
            <input type="button" class="btn btn-primary" id="skipVoteBtn" value="Skip" />
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="counter-box colored">
			    <i class="fa fa-thumbs-o-up"></i>
			    <span class="counter" id="hipVoteCount">0</span>
			    <p>HIP!</p>
		    </div>
        </div>
        <div class="col-6"></div>
        <div class="col-3">
            <div class="counter-box colored">
			    <i class="fa fa-thumbs-o-down"></i>
			    <span class="counter" id="skipVoteCount">0</span>
			    <p>SKIP!</p>
		    </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-12 text-align-center">
        <div class="g-ytsubscribe" data-channelid="UCIPMDupgTRsJY5sxcdBEtCg" data-layout="full" data-count="default"></div>
    </div>
</div>
<script src="https://apis.google.com/js/platform.js"></script>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/vote.js"></script>
